<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" name = 'email' required>
          <span></span>
          <label for="email">Email</label>
        </div>
        <input type="submit" value="Reset Password!">
      </form>
      <br>
    </div>

  </body>
</html>